@model IEnumerable<ChurchSystem.App.ViewsModels.GroupViewModel>

@{
    ViewData["Title"] = "Groups";
}

<a class="ui right floated small primary labeled icon button" asp-action="Create">
    <i class="add icon"></i>
    Create group
</a>

<h3 class="ui header">Groups</h3>

<table class="ui blue single line selectable table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="right aligned">
                <a asp-action="Edit" class="ui button icon" asp-route-id="@item.Id"><i class="pencil alternate icon"></i></a>
                <a asp-action="Details" class="ui button icon" asp-route-id="@item.Id"><i class="search icon"></i></a>
                <a asp-action="Delete" class="ui button icon" asp-route-id="@item.Id"><i class="trash alternate outline icon"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
