@model ChurchSystem.App.ViewsModels.MemberViewModel

<div class="ui segment">
    <div class="ui relaxed divided list">
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Document)
                </div>
                @Html.DisplayFor(model => model.Document)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.DateBirth)
                </div>
                @Html.DisplayFor(model => model.DateBirth)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
                @Html.DisplayFor(model => model.Address)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Neighborhood)
                </div>
                @Html.DisplayFor(model => model.Neighborhood)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.City)
                </div>
                @Html.DisplayFor(model => model.City)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.State)
                </div>
                @Html.DisplayFor(model => model.State)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Mailbox)
                </div>
                @Html.DisplayFor(model => model.Mailbox)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </div>
                @Html.DisplayFor(model => model.PhoneNumber)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Baptized)
                </div>
                @Html.DisplayFor(model => model.Baptized)
            </div>
        </div>
        <div class="item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Status)
                </div>
                @Html.DisplayFor(model => model.Status)
            </div>
        </div>
    </div>
</div>
