@model ChurchSystem.App.ViewsModels.MemberViewModel

<div class="row">
    <div class="form-group col-6">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="Document" class="control-label"></label>
        <input asp-for="Document" class="form-control" />
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label asp-for="DateBirth" class="control-label"></label>
        <input asp-for="DateBirth" class="form-control" />
        <span asp-validation-for="DateBirth" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="@Model.Address" class="control-label"></label>
        <input asp-for="@Model.Address" class="form-control" />
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label asp-for="Neighborhood" class="control-label"></label>
        <input asp-for="Neighborhood" class="form-control" />
        <span asp-validation-for="Neighborhood" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label asp-for="State" class="control-label"></label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="Mailbox" class="control-label"></label>
        <input asp-for="Mailbox" class="form-control" />
        <span asp-validation-for="Mailbox" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group form-check col-6">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Baptized" /> @Html.DisplayNameFor(model => model.Baptized)
        </label>
    </div>
    <div class="form-group form-check col-6">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
        </label>
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label asp-for="GroupId" class="control-label"></label>
        <select asp-for="GroupsIds" class="form-control selectpicker border" data-live-search="true" title="Select" multiple asp-items="Model.Groups"></select>
    </div>
    <div class="form-group col-6">
        <label asp-for="RoleId" class="control-label"></label>
        <select asp-for="RolesIds" class="form-control selectpicker border" data-live-search="true" title="Select" multiple asp-items="Model.Roles"></select>
    </div>
</div>
