@model IEnumerable<ChurchSystem.App.ViewsModels.MemberViewModel>

@{
    ViewData["Title"] = "Members";
}

<h3>Members</h3>

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="fa fa-plus"></i>
        Create New
    </a>
</p>
<table class="table border table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baptized)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Neighborhood)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Baptized)
                    </td>
                    <td class="text-right">
                        <a asp-action="Edit" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
